<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Упс, не найдено.</title>
    <style>

        body{
            display: flex;
            text-align: center;
            min-height: 100vh;
            color: #343434;
            margin: 0;
            padding: 10px;
        }
        img{
            max-width: 100%;
        }
        div{
            margin: auto;
            padding: 20px;
        }
        a{
            color: #343434;

        }
    </style>
</head>
<body>
<div>
    <img src="../public/images/image-404.png" alt="">
    <h1>Не найдено</h1>
    <a href="/">Домой</a>

</div>
</body>
</html>




