<link rel="stylesheet" href="../public/stylesheets/admin.css">

<header class="closed scrolling" >
    <nav class="header_nav">
        <div class="wrap">
            <div class="header_nav_wrapper">
                <a href=".."><div class="header_logo">Nek<span>W</span>eb</div></a>

            </div>
        </div>
    </nav>
</header>

<section class="wrap">
        <div class="admin_posts">
            <div class="admin_posts_post admin_posts_head">
                <div class="admin_post_col_img">
                    Фото
                </div>
                <div class="admin_post_col_title">
                    Заголовок
                </div>
                <div class="admin_post_col_descr">
                    Описание
                </div>
                <div class="admin_post_col_controls">
                    Контроль
                </div>
            </div>
        </div>
            <div class="admin_posts_post">
                <div class="admin_post_col_img">
                    <img src="https://picsum.photos/200/300" alt="">
                </div>
                <div class="admin_post_col_title">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque deleniti ducimus ipsa non sunt.
                </div>
                <div class="admin_post_col_descr">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto autem corporis dicta dolore dolores, ea, eveniet explicabo ipsam laborum mollitia, nam nemo nostrum placeat quae quidem totam veritatis voluptas.
                </div>
                <div class="admin_post_col_controls">
                   <div class="admin_post_col_controls-change">изменить</div>
                   <div class="admin_post_col_controls-delete">удалить</div>
                </div>
            </div>
        </div>

</section>

<footer>
    <div>Сделано с  <i class="icon-heart"></i> ! @2020</div>
    <div>Никита Козлов</div>
</footer>
