<header class="closed">
    <span class="overlay"></span>
    <div class="wrap">

        <nav class="header_nav">
            <div class="wrap">
            <div class="header_nav_wrapper">
            <div class="header_logo">Nek<span>W</span>eb</div>
            <div class="hamburger">
                <div class="hamburger_line hamburger_line1"></div>
                <div class="hamburger_line hamburger_line2"></div>
                <div class="hamburger_line hamburger_line3"></div>
            </div>
            </div>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
            </div>
        </nav>
        <div class="header_info">

            <div class="header_info_col-text">

                    <small class="header_small">Hello,</small>
                    <h1>I am Jhon Smith</h1>


                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, non.</p>
                <div class="button"><a href="#">contact me</a></div>
            </div>
        </div>
    </div>
</header>

<section class="about">
    <div class="wrap">
        <h3 class="section-title">About Me</h3>
        <div class="outline"><div class="outline_inner-line"></div></div>
    <div class="about_info">
        <div class="about_col_text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis explicabo laborum magnam minus natus nemo, neque nihil nobis odio omnis pariatur provident quam quas repudiandae sint ut, vel veniam voluptatibus?</p>
            <div class="about_table">
                <div class="about_table_wrap">
                    <div class="about_table_name">Имя:</div>
                    <div class="about_table_data">Lorem ipsum.</div>
                </div>
                <div class="about_table_wrap">
                    <div class="about_table_name">Email:</div>
                    <div class="about_table_data">nikitakoz2606@gmail.com</div>
                </div>

                <div class="about_table_wrap">
                    <div class="about_table_name">Телефон:</div>
                    <div class="about_table_data">01418515</div>
                </div>

                <div class="about_table_wrap">
                    <div class="about_table_name">Дата рождения:</div>
                    <div class="about_table_data">26.06.2001</div>
                </div>

                <div class="about_table_wrap">
                    <div class="about_table_name">Github:</div>
                    <div class="about_table_data">example@example.com</div>
                </div>



            </div>
        </div>
        

    <div class="about_img">
        <img src="../public/images/man.png" alt="#">
    </div>
    </div>
    </div>
</section>

<section class="service">
    <div class="wrap">
        <h3 class="section-title">Service</h3>
        <div class="outline"><div class="outline_inner-line"></div></div>
        <div class="service_cards">
            <div class="card">
                <div class="card_ico">
                    <i class="fab fa-github"></i>
                </div>

                <div class="service_card_title">Lorem ipsum.</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="card">
                <div class="card_ico">
                    <i class="fab fa-windows"></i>
                </div>

                <div class="service_card_title">Lorem ipsum dolor.</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, eveniet?</p>
            </div>
            <div class="card">
                <div class="card_ico">
                    <i class="fab fa-chrome"></i>
                </div>


                <div class="service_card_title">Lorem ipsum.</div>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="card">
                <div class="card_ico">
                    <i class="fas fa-database"></i>
                </div>


                <div class="service_card_title">Lorem.</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            </div>
            <div class="card">
                <div class="card_ico">
                    <i class="fas fa-mobile"></i>
                </div>


                <div class="service_card_title">Lorem ipsum.</div>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="card">
                <div class="card_ico">
                    <i class="fas fa-pencil-alt"></i>
                </div>


                <div class="service_card_title">Lorem.</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, neque!</p>
            </div>
        </div>
    </div>
</section>

<section class="skills">
    <div class="wrap">
        <h3 class="section-title">My Skills</h3>
        <div class="outline"><div class="outline_inner-line"></div></div>
            <div class="skills_container">
            <div class="skills_container-left">
                <div class="skills_container_title">Design Skills</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur exercitationem ipsum iure modi molestias rem. Amet et quod ut?</p>
                <div class="skills_container_skill_wrap">
                    <div class="skills_container_skill_name">Photoshop</div>
                    <div class="skills_container_skill_percentage">
                        0%
                    </div>
                    <div class="skills_container_skill_progress">
                        <div class="skills_container_skill_progress_show" progress="90"></div>
                    </div>
                </div>
                <div class="skills_container_skill_wrap">
                    <div class="skills_container_skill_name">Photoshop</div>
                    <div class="skills_container_skill_percentage">0%</div>
                    <div class="skills_container_skill_progress"><div class="skills_container_skill_progress_show" progress="90"></div></div>
                </div>
                <div class="skills_container_skill_wrap">
                    <div class="skills_container_skill_name">Photoshop</div>
                    <div class="skills_container_skill_percentage">0%</div>
                    <div class="skills_container_skill_progress"><div class="skills_container_skill_progress_show" progress="90"></div></div>
                </div>
            </div>
                <div class="skills_container-left">
                    <div class="skills_container_title">Coding Skills</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur exercitationem ipsum iure modi molestias rem. Amet et quod ut?</p>
                    <div class="skills_container_skill_wrap">
                        <div class="skills_container_skill_name">Photoshop</div>
                        <div class="skills_container_skill_percentage">0%</div>
                        <div class="skills_container_skill_progress"><div class="skills_container_skill_progress_show" progress="90"></div></div>
                    </div>
                    <div class="skills_container_skill_wrap">
                        <div class="skills_container_skill_name">Photoshop</div>
                        <div class="skills_container_skill_percentage">0%</div>
                        <div class="skills_container_skill_progress"><div class="skills_container_skill_progress_show" progress="80"></div></div>
                    </div>
                    <div class="skills_container_skill_wrap">
                        <div class="skills_container_skill_name">Photoshop</div>
                        <div class="skills_container_skill_percentage">0%</div>
                        <div class="skills_container_skill_progress"><div class="skills_container_skill_progress_show" progress="100"></div></div>
                    </div>
                </div>
        </div>
    </div>
</section>

<section class="latest_projects">
    <h3 class="section-title">Latest Project</h3>
    <div class="outline"><div class="outline_inner-line"></div></div>
    <div class="latest_projects_viewport">
        <div class="latest_projects_container">
            <a href="https://nek-web.ru">
                <div class="latest_projects_container_project" style="background-image: url('../public/images/project01.jpg')">
                    <div class="overlay"></div>
                    <div class="wrap">
                        <div class="latest_projects_container_project_title">NEK-WEB.RU</div>
                    </div>
                 </div>
            </a>
            <a href="https://svet-skg.ru">
                <div class="latest_projects_container_project" style="background-image: url('../public/images/project02.jpeg')">
                    <div class="overlay"></div>
                    <div class="wrap">
                        <div class="latest_projects_container_project_title">svet-skg.ru</div>
                    </div>
                </div>
            </a>
            <a href="https://nek-web.ru">
                <div class="latest_projects_container_project" style="background-image: url('../public/images/project01.jpg')">
                    <div class="overlay"></div>
                    <div class="wrap">
                        <div class="latest_projects_container_project_title">Example.com</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="latest_projects_controls">
            <div class="latest_projects_control latest_projects_control-active"></div>
            <div class="latest_projects_control"></div>
            <div class="latest_projects_control"></div>
        </div>
    </div>

</section>

<section class="blog">
    <div class="wrap">
        <h3 class="section-title">My Blog</h3>
        <div class="outline"><div class="outline_inner-line"></div></div>
        <div class="blog_cards">
            <div class="blog_card card">
                <img src="https://picsum.photos/200" alt="#">

                <div class="blog_card_title">Lorem ipsum dolor sit.</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut earum fuga maiores odio quasi?</p>
                <div class="button">read more</div>
            </div>



        <div class="blog_card card">
            <img src="https://picsum.photos/225" alt="#">

            <div class="blog_card_title">Lorem ipsum dolor sit.</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut earum fuga maiores odio quasi?</p>
            <div class="button">read more</div>
        </div>



        <div class="blog_card card">
            <img src="https://picsum.photos/230" alt="#">

            <div class="blog_card_title">Lorem ipsum dolor sit.</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut earum fuga maiores odio quasi?</p>
            <div class="button">read more</div>
        </div>
    </div>
    </div>
</section>

<section class="contact_me">
    <div class="wrap">
        <h3 class="section-title">Contact me</h3>
        <div class="outline"><div class="outline_inner-line"></div></div>

        <div class="contact_me_container">

            <div class="">
                <div class="contact">
                    <div class="contact_ico"><i class="fas fa-phone"></i></div>
                    <div class="contact_data">12345678</div>
                </div>


                <div class="contact">
                    <div class="contact_ico"><i class="fas fa-envelope"></i></div>
                    <div class="contact_data">example@example.com</div>
                </div>


                <div class="contact">
                    <div class="contact_ico"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="contact_data">Lorem ipsum dolor.</div>
                </div>

            </div>
        <div class="contact_me_form">
            <form>
                <input type="text" placeholder="Your Name..." class="contact_input">
                <input type="text" placeholder="Email Address..." class="contact_input">
                <textarea class="contact_input" name=""   rows="10" placeholder="Your Message..."></textarea>
                <input type="sybmit" value="SEND MESSAGE" class="button">
            </form>
        </div>
        </div>
    </div>
</section>

<footer>
    <div>Сделано с  <i class="fas fa-heart"></i> ! @2020</div>
    <div>Никита Козлов</div>
</footer>
