<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!--<link rel="preload" href='../public/fonts/Roboto-Regular.ttf'>
    <link rel='stylesheet' href='../public/stylesheets/reset.css' />
    <link rel='stylesheet' href='../public/stylesheets/all.min.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
    <link rel='stylesheet' href='../public/stylesheets/media.css' />-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
      <link rel="stylesheet" href="../public/stylesheets/site.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {{{body}}}
  </body>

  <script src="../public/javascripts/script.js"></script>
</html>
