<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <link rel="icon" href="../public/favicon.ico">
    <!--
    <link rel='stylesheet' href='../public/stylesheets/reset.css' />
    <link rel='stylesheet' href='../public/stylesheets/fontello.css' />
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
    <link rel='stylesheet' href='../public/stylesheets/media.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>-->
    <link rel='stylesheet' href='../public/stylesheets/site.min.css' />

    <link rel="stylesheet" href="../public/stylesheets/admin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>



<header class="closed scrolling" >
    <nav class="header_nav">
        <div class="wrap">
            <div class="header_nav_wrapper">
                <a href=".."><div class="header_logo">Nek<span>W</span>eb</div></a>

            </div>
        </div>
    </nav>
</header>

<form class="login_form" method="post" action="">
    <input type="text" placeholder="Логин..." class="input" required="true" name="login">
    <input type="password" placeholder="Пароль..." class="input" required="true" name="password">
    {{#if error}}
        Неверный логин или пароль. <br/>
    {{/if}}

    <input type="submit" value="Войти" class="button">

</form>

<footer>
    <div>Сделано с  <i class="icon-heart"></i> ! @2020</div>
    <div>Никита Козлов</div>
</footer>
</body>

<script src="../public/javascripts/script.min.js"></script>
</html>
