@media screen and (min-width: 420px) {

.about_col_text{
    text-align: left;
}
}


@media screen and (min-width: 550px){
    .blog_cards{
        display: flex;
        flex-wrap: wrap;
    }
    .blog_card{
        width: calc(50% - 20px);
    }
    .blog_card:nth-child(2n){
        order: 1;
        width: 100%;
    }
    .skills_container-right{
        padding-left: 30px;
    }
    .skills_container-left{
        padding-right: 30px;
    }
    .skills_container{
        display: flex;
    }
    .service_cards{
        display: flex;
        flex-wrap: wrap;
    }
    .service_cards .card{
        width: calc(50% - 20px);
    }
    .header_small {
        font-size: 13px;
        display: inline;
        position: relative;
        padding-bottom: 5px;
        right: 0;
    }
    h3{
        text-align: center;
    }
    body{
        text-align: left;
    }
    .about_info{
        display: flex;
        align-items: center;
        flex-flow: row-reverse;
        justify-content: flex-end;
    }
    .about_img {
        width: 50%;
        text-align: right;
        padding-right: 50px
    }
    .about_col_text {
        width: 50%;
        max-width: 500px;
    }
    .about_img img{
        max-width: 300px;
        background-color: white;
        border-left: 5px #ff7d0a solid;
        border-bottom: 5px #ff7d0a solid;
    }
    .about {
        padding-bottom: 45px;
    }
}
@supports (-ms-ime-align:auto) {
     .latest_projects_container_project {
        background-attachment: scroll  !important;
    }
    body{

    }
}
@media screen and (min-width: 660px){
    .scrolling .header_nav{
        background-color: white;
        color: #5d5d5d;
    }
    .scrolling .header_nav{
        box-shadow: -1px 3px 2px 0px #73737370;
    }
    .header_nav  ul{
        height: auto !important;
        display: flex;

    }
    .header_nav .wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header_nav ul li {
        border: none !important;
        margin: 0;
    }
    .header_nav ul li:hover{

        color: #ff7d0a;
    }
    .hamburger{
        display: none;
    }
    .blog_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        width: calc(33.33% - 20px);
        padding-top: 15px;
        padding-bottom: 0;
    }
    .blog_card img{
        margin-top: 20px;
        padding-bottom: 0;
        order:1;
    }
    .blog_card .button{
        align-self: flex-start;
    }
    .blog_card:nth-child(2n){
        width: calc(33.33% - 20px);
        order: initial;
    }
    .about_img {
        width: calc(50% - 65px);

    }
    .about_col_text {
        width: calc(50% + 65px);

    }
    .contact{
        font-size: 16px;
    }
    .contact_me_container{
        display: flex;
    }
    .contact_me_form{
        padding-left: 10px;
    }
}
@media screen and (min-width: 800px){
    .latest_projects_container_project_title{
        position: relative;
    }
    .latest_projects_container_project_title:after{
        content: "";
        width:0%;
        height: 2px;
        background-color: #ff7d0a;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: width 0.25s ease-in-out;
    }
     .latest_projects_container_project:hover .latest_projects_container_project_title:after{
        width: 100%;
    }
    .service_cards .card{
        width: calc(33.33%  - 20px);
    }
    .contact_me_form{
        flex-wrap: wrap;
    }
    .contact_input{
        width: calc(50% - 2px);
    }
    .contact_me_form textarea{
        width: 100%;
    }
    .latest_projects_controls{
        display: flex;
    }
    .latest_projects_container{
        left:0vw;
        position: relative;
        display: flex;
        transition: left 0.25s ease-in-out;
    }

    .latest_projects_container_project{
        width: 100vw;
        margin: 0;
        min-height: 485px;
        font-size: 30px;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
}
