@media screen and (min-width: 420px) {

.about_col_text{
    text-align: left;
}
}


@media screen and (min-width: 550px){
    .service_cards{
        display: flex;
        flex-wrap: wrap;
    }
    .service_cards .card{
        width: calc(50% - 20px);
    }
    .header_small {
        font-size: 13px;
        display: inline;
        position: relative;
        padding-bottom: 5px;
        right: 0;
    }
    h3{
        text-align: center;
    }
    body{
        text-align: left;
    }
    .about_info{
        display: flex;
        align-items: center;
        flex-flow: row-reverse;
        justify-content: flex-end;
    }
    .about_img {
        width: 50%;
        text-align: right;
        padding-right: 50px
    }
    .about_col_text {
        width: 50%;
        max-width: 500px;
    }
    .about_img img{
        max-width: 300px;
        background-color: white;
        border-left: 5px #ff7d0a solid;
        border-bottom: 5px #ff7d0a solid;
    }
    .about {
        padding-bottom: 45px;
    }
}

@media screen and (min-width: 660px){

    .about_img {
        width: calc(50% - 65px);

    }
    .about_col_text {
        width: calc(50% + 65px);

    }
    .contact{
        font-size: 16px;
    }
    .contact_me_container{
        display: flex;
    }
    .contact_me_form{
        padding-left: 10px;
    }
}
@media screen and (min-width: 800px){
    .service_cards .card{
        width: calc(100% / 3  - 20px);
    }
    .contact_me_form{
        flex-wrap: wrap;
    }
    .contact_input{
        width: calc(50% - 2px);
    }
    .contact_me_form textarea{
        width: 100%;
    }
    .latest_projects_controls{
        display: flex;
    }
    .latest_projects_container{
        left:0vw;
        position: relative;
        display: flex;
        transition: left 0.25s ease-in-out;
    }

    .latest_projects_container_project{
      width: 100vw;
      margin: 0;
      min-height: 350px;
      font-size: 30px;
    }
}
