.thumbnail{
    width: 100%;
    height: auto;
    max-width: 600px;
}
.post_section {
    margin: 75px auto 25px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section:nth-child(2n){
    background-color: white;
}
h3  {
    padding: 20px 0;
}
.post_section >p{
    white-space: pre-line;
}

@media screen and (min-width: 900px) {
    img{
        float: left;
        padding-right: 20px;
        padding-bottom: 20px;

    }
    .post_section {
       display: block;
    }
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}
