
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf");
  font-display: swap;
}
*{
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}
body {
  font-family: Roboto, sans-serif;
  text-align: center;
  color: #5d5d5d;
  font-size: 14px;
}

a {
  color: #00B7FF;
}
.first-screen{
  padding: 0;
  background-image: url('../images/header03.webp');
  background-attachment: fixed;
  position: relative;
  background-size: cover;
  background-position: bottom;
}
.overlay{
  position: absolute;
  left: 0;
  right: 0;

  background-color: rgba(7, 19, 56, 0.59);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.first-screen > .wrap{
  min-height: 67vh;
  color: white;
  display: flex;
  flex-direction: column

}
.header_nav{
  z-index: 999;
}
.header_info{
  position: relative;
  z-index: 100;
}
.header_logo{
  text-transform: uppercase;
  text-align: left;
  font-size: 16px;
  font-weight: bold;

}
.header_logo span{
  color: #ff7d0a;
}

.header_info {
  margin: auto;
}
.wrap{
  max-width: 1140px;
  padding: 0 20px;
  margin: auto;
  position: relative;
}

.outline{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px;
}
p {
  display: block;
  padding: 5px 0;
}
.outline::before, .outline::after{
  content:"";
  width: 4px;
  height: 4px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #636363;
  position: relative;
}
.outline_inner-line{
  height: 2px;
  width: 80px;
  background-color: #ff7d0a;
}
.outline_inner-line::after {
  content: "";
  width: 40px;
  background-color: #747372;
  height: 2px;
  position: absolute;
  transform: translate(-50%, 5px);

  left: 50%;
}
section{
  padding: 45px 0;
}
.card_ico{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: white;
  color: #ff7d0a;
}
section:nth-child(2n) {
  background-color: #f0f0f0;
}
.skills_container_skill_wrap{
  display: flex;
  flex-wrap: wrap;
}
.skills_container_skill_name{
  flex-grow: 1;
  text-align: left;
}
.skills_container_skill_progress {
  width: 100%;
  height: 5px;
  background-color: #aca6a6 ;
}

.latest_projects_viewport{
  overflow-x: hidden;
  margin-top: 45px;
  position: relative;
}
.blog{
  background-color: white !important;
}
.blog_card img{
  padding-bottom: 20px;
  width: 100%;
  height: 170px;
  object-fit: cover;
}
.header_small {
  font-size: 13px;
  display: inline;
  position: relative;
  padding-bottom: 5px;
  right: 105px;
}
.contact{
  display: flex;
  align-items: center;
  padding: 15px;
}
.header_info_col-text{
  padding: 80px 0;
  max-width: 400px
}
.data_col{
  text-align: left;
}

.contact_ico{
  width: 40px;
  display: flex;
  align-items: center;
}

.contact_data{
  padding-left: 15px;
}

.contact_input, .input {
  transition: border 0.25s ease-in-out;
  width: 100%;
  padding: 8px;
  margin: 10px 0 10px 0;
  border-radius: 2px;
  border: 2px solid #848484;

}
.contact_me_form{
  text-align: left;
}
.button {
  display: inline-block;
  padding: 10px 15px;
  margin: 15px 0;
  color: white;
  text-transform: capitalize;
  border:0;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  background-color: #ff7d0a;
  transition: all 0.15s ease-in-out;

}


a{
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  font-weight: bold;
  font-size: 34px;
  color: #ff7d0a;
}

h3{
  font-weight: bold;
  font-size: 28px;

}

.about_table_wrap {
  padding: 10px 0;
  display: flex;
  text-align: left;

}
.about_table_name{
  width: 150px;
  font-weight: bold;
}

.about_table_data{

  padding-left: 5px;
}
.header_nav_wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hamburger{
  height: 14px;
  position: relative;
  width: 18px;
  cursor: pointer;

}
.hamburger_line{
  width: 18px;
  height: 2px;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;

  position: absolute;

  background-color: white;
}
.hamburger_line1{
  top: 0;
}
.hamburger_line2{
  transform: translateY(-50%);
  top: 50%;
}
.hamburger_line3{
  bottom: 0;
}

.hamburger_close .hamburger_line2{
  width: 0;
}
.hamburger_close .hamburger_line1{
  transform: rotate(45deg);
  transform-origin: top left;
}
.hamburger_close .hamburger_line3{
  transform: rotate(-45deg);
  transform-origin: bottom left;
}
.about{
  padding-bottom: 0;
}

.about_info
{
  margin-top: 30px;
}
.about_img img {
  max-width: 300px;
}
.header_nav{
 background-color:  #1b2135;
 transition: background-color 0.25s ease-in-out;
 position: fixed;
 width: 100%;
 padding: 10px 0;
 left: 0;
 top: 0;
 color: white;

  margin: 0 auto;
}
header nav ul{
  height: 274px;
  overflow: hidden;
  transition: height 0.25s ease-in-out;;
}
header nav ul li {
  padding: 10px;
  border-bottom: 1px solid #888686;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;

}
header nav ul li a{
  font-weight: 400;
}
header nav ul li:last-child{
  border:0;
}
.closed .header_nav{
  background: transparent;
}
.closed nav ul{
  height: 0;

}
.scrolling .header_nav{
  background-color: #1b2135;
}

.card {
  background-color: #f0f0f0;
  margin: 25px 10px;
  padding: 15px;
  box-shadow: 0 5px 5px 0 #1f1f1f61;
  text-align: center;
}

.service_card_title, .blog_card_title {
  font-size: 16px;
  font-weight: 600;
  padding: 15px 0;
}

.skills_container{

}
.skills_container_title{
  font-size: 28px;
  margin-bottom: 25px;
  position: relative;
  text-align: left;
  margin-top: 45px;
}
.skills_container_title::after{
  content: "";
  height: 2px;
  width: 80px;
  background-color: #ff7d0a;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.skills_container_skill_wrap{
  margin: 20px 0;
}
 .skills_container_skill_progress_show{
   background-color: #1b2135;
   height: 5px;
   width: 0%;

 }
.latest_projects_container_project_title {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.latest_projects_container_project .wrap{
  z-index: 10;
}
.latest_projects_container_project{
  min-height: 200px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px;
}
.latest_projects_controls{
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  z-index: 10;
  display: none;
}
.latest_projects_control{
  width: 25px;
  height: 15px;
  margin: 7px;
  background-color: #eeeeee;
  border-radius: 20px;
  cursor: pointer;
}
.latest_projects_control-active{
  background-color: #ff7d0a;
}

.blog_cards{
  margin-top:45px;
}

.blog_card{
  box-shadow: none;
  padding: 0 0 15px 0;
  transition: box-shadow 0.25s ease-in-out;
}
.blog_card img{

}
.blog_card .blog_card_title, .blog_card p{
  padding: 15px;
}
.blog_card .button{
  margin: 0 15px;
  background: transparent;
  color: #5d5d5d;
  border: 2px solid #5d5d5d;

}
.blog_card:hover{
  box-shadow: 0 5px 5px 0 #1f1f1f61;
}
.button:hover{
  border-color: transparent;
  background-color: #ff7d0a;
  transform: scale(1.1);
  color: white;
}

footer{
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: #f0f0f0;
  border-top: 1px solid #c3b2b2;
}

@keyframes heart {
  from { transform: scale(0.8); }
  50% { transform: scale(1.2); }
  to{transform: scale(0.8);}
}
.icon-heart:before{
  color: palevioletred;
  animation: heart 1.5s ease-in-out infinite;
}
.contact_me{
  background-color: #f0f0f0;
}
.contact_me_container{
  margin-top: 45px;
}

.skills_container_skill_name, .skills_container_skill_percentage{
  padding-bottom: 15px;
}
.contact_input:focus, .input:focus{
  border-color: #ff7d0a;
}
.animate__animated{
  opacity: 0;
}
.animate__lightSpeedInLeft{
  opacity: 1;
}
.animate__flipInY{
  opacity: 1;
}
input[type='sybmit']{
  cursor: pointer;
}
